html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

*, *:before, *:after { 
	box-sizing: inherit;
} 

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	/* background-color: LightGray; */
	/* border: 2px solid Chocolate; */
}

div {
	border: 1px solid Chocolate;
}

 /* * {
  	border: 1px solid Chocolate;
  } */ 

/*Navigation Section*/
.top-navigation {
	background-color: #fff;
	/* max-width: 55em; */
	border: 1px solid Chocolate;
	/* margin: 0 auto;
	margin: 0 0 20em 3em;
	text-align: center;
	display: inline;
	 */
}

/*.top-navigation >*/ .content {
	width: 62rem;
	height: 4.375rem;
	margin: 0 auto;
	padding: 0px 15px;

}

.content > .logo,
.content > .links {
	display: inline-block;
}

.logo {
	margin: 1em 1em 1em 6em;
}

.content > .links {
	float: right;
	margin-top: 1.5em;
	margin-right: 10em;
}

.links li {
	display: inline-block;
	margin-left: .8em;
}

.links li a { /*We have to target 'a', not 'li' to have an effect on the text?*/
	text-decoration: none;
	font-size: 1.06em;
	color: Grey;
}


.top-navigation .links > .active a {
	color: #4c5058;
    font-weight: 500;
}



.links li a:hover {
	color: #4c5058;
	cursor: pointer;
}

/*Introduction Section*/

.jumbotron {
	text-align: center;
	background: url("../images/first-background-copy.jpg") no-repeat;
	background-size: cover;
	/*margin: 0 auto;*/
	/* padding-top: 1em; */
	background-position: 0 bottom;
	height: 45em;
	color: White;
	overflow: auto;
	/*border: 1px solid Chocolate; */
	/*^Commenting this line out does something strange with the margins^*/
}

/* .jumbotron .content {
	margin-top: 11em;
	
} */

.jumbotron .content h1 {
	font-size: 3.1em;
	font-weight: 300;
	margin-top: 4em;
	margin-bottom: -.2em;

}

.jumbotron .content h2 {
	margin-bottom: 1.5em; /*But this does*/
	font-weight: 300;
}

.big-button {
	border-style: none;
	text-shadow: none;
	padding: 1em 2em; 
	border-radius: .3em;
	background-color: #F15A29;
	color: White;
	font-size: 1.1em;
	font-weight: 500;
}

.big-button:hover {
	background-color: #D9400E;
	border-color: #D9400E;
	cursor: pointer;
}

.three-icon {
	text-align: center;
}



/* nav img {
	width: 1.5em;
} */

/* nav li {
	display: inline-block;
	padding: 0 1em;
	
} */


/* nav a {
	text-decoration: none;
	font-weight: 550;
	color: Grey;
	transition-property: color;
	transition-duration: .3s;
} */





